
# vim
#
*.swp
*.sw*

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.idea/*
android/local.properties
android/build
android/build/*
android/.gradle
android/.gradle/*

# iOS
#
ios/build
ios/build/*

# node
#
node_modules/
./frontend/node_modules/


# webpack
frontend/bin
*/bin

# database data
database/all_data*.sql

# Skeema
.skeema
latest_diff_between_live_and_expected_schema.sql

# nohup.out
*.out
*.pcap
