doctype html
html(lang="en")
  head
    style.
      body {
        width: 100%;
        margin: 0;
      }
      #react-root {
        width: 100%;
      }
  body
    div(id='react-root')
  script(type='text/javascript' src= xBundleUri)
